<!DOCTYPE html>
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <%= render 'layouts/head' %>
  </head>
<% unless params[:controller] == 'pages' %>
  <body class="book">
    <div id="container">
        <%= render 'layouts/header' %>
        <div id="content">
            <%= render 'layouts/sidebar' %>
            <div id="main" class="withsidebar">
                <div id="book_menu"><a href="#main_content">пропустить содержание</a></div><!-- <div id="book_menu"> -->
                <%= render 'layouts/view_source_script' %>
                <%= yield %>
                <div id="container-bottom"></div>
            </div><!-- <div id="main" class="withsidebar"> -->
            <%= render 'layouts/reformal' %>

            <!--orphus-->
            <div class="orphus center">
              <script type="text/javascript" src="/javascripts/orphus.js"></script>
            </div><!-- <div class="orphus center"> -->

            <!--metrika-->
            <%= render 'layouts/yandex_metrika' %>
  </body>
<% else %>
  <%= yield %>
<% end %>
</html>

