<!DOCTYPE html>
<html>
  <head>
    <title>RailsTutorialTranslation</title>
    <%= stylesheet_link_tag 'polytexnic' %>
    <%= stylesheet_link_tag 'pygments' %>
    <%= stylesheet_link_tag 'screen' %>
    <!--[if lte IE 7]><%= stylesheet_link_tag 'ie' %><![endif]-->
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body class="book">
    <div id="container">
      <%= render 'layouts/header' %>
      <div id="content">
          <%= render 'layouts/sidebar' %>

        <div id="main" class="withsidebar">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
